<%= form_with model: [@post,@post.comments.build], local: true do |form| %>
	<div class="form-input">
		<%= form.text_field :comments , placeholder: "Write a comment"  %>
	</div>
	<p>
		<%= form.hidden_field :post_id,:value => @post.id %>
	</p>
	<p>
		<%= form.hidden_field :user_id, :value => current_user.id %>
	</p>
	<p>
		<%= form.submit %>
	</p>
<% end %>
