<%= form_with model: [@post,@post.comments.build], local: true do |form| %>
										<div>
											<span class="post_logo" ><i class="fa fa-user"></i></span>
											<%= form.text_field :comments , placeholder: "Write a comment",class: "form-input"  %>
										</div>
										<p>
											<%= form.hidden_field :post_id,:value => @post.id %>
										</p>
										<p>
											<%= form.hidden_field :user_id, :value => current_user.id %>
										</p>
										<p>
											<%= form.submit "", :style => "display: none;"  %>
										</p>
									<% end %>
									<%# post.comments.each do |comment|%>

									 <%#= render 'comments/form', post: post %>
									<%# end %>