<% if user_signed_in? %>
<!-- div 1 -->
	<div class="home" >
		<div class="post_index">
			<%#= render 'views/posts/form' %>
			<span class="post_logo" ><i class="fa fa-user"></i>    Create Post</span>
			<div class="post_form"><%= render 'posts/form'%></div>
		</div>

		<div class="post_div">
			<% @users.each do |user| %>
				<% user.posts.each do |post| %>
					<div class="post_box">
						<div class="user_data">
							<%= image_tag user.image %>
							<%= user.username %>		
						</div>
						<div class="post-data">
							<p>
								<%= post.post %>
							</p>
							<p>
								<% if current_user == post.user %>
									<%= link_to 'edit', edit_post_path(post) %>
									<%= link_to 'destroy',post_path(post), method: :delete %>
								<% end %>
							</p>
							<p>
								<%#= link_to 'new', new_post_path %>
									<!-- <i class="far fa-thumbs-up"></i> Like -->
									

									<% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
										<% if pre_like %>
  											<%= link_to post_like_path(post, pre_like), method: :delete  do %>
  												<i class="far fa-thumbs-up"></i> Like
  											<% end %>
  									
										<% else %>
  											<%= link_to  post_likes_path(post), method: :post do %>
  												<i class="far fa-thumbs-down"></i> Unlike
  										<% end %>
									<% end %>

									<%= link_to post_path(post) do %>
										<i class="far fa-comment-alt"></i> Comment
									<% end %>
							</p>
							
						</div>
					</div>	
					<% end %>
			<% end %>
		</div>

		

			
	
		
	</div>
<!-- div 2 -->
	<div class="home2">
		<div><%= button_to 'edit profile',  edit_user_registration_path %></div>
		<div><%= link_to 'logout',destroy_user_session_path, method: :delete %></div>
		<hi>post count</hi>
		<p>
			<%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%>
		</p>
		<%#= link_to 'follow',relationships_path %>
		<section class="stats">
      <%= render '/devise/shared/stats' %>
    </section>
    <%= render 'users/follow_form' if user_signed_in? %>
		<%#= link_to "Unfollow", unfollow_user_path(@user) %>
		<%#= link_to 'follow',follow_user_path(@user) %>
	</div>
  
<% end %>