<div class="home">
	<h5 class="follow-heading"><b>Who to Follow</b></h5>
	<p class="follow-para">To add your profile to list <u>get verified</u> for free or<u>upgrade to pay subscription</u></p>
	<% @users.each do |user| %>
	<div class="row">
		<%#%>
			<div class="col-md-6 follow-img">
				<% if current_user != user %>
					<div class="row">
						<div class="col-md-7">
							<%= image_tag user.image ,class: "image" %>
							<b class="b1"><%= user.username.capitalize %></b>
						</div>
						<!-- <div class="col-md-4" style="background-color:yellow"> -->

							
			
						<!-- </div> -->
						<div class="col-md-5">
							<div id="follow<%= user.id %>" class="follow-button">
								<%# byebug %>
								<%#= render 'users/follow_button' %>
								<% if current_user.followees.include?(user) %>
		   							<h5><%= button_to "Following",unfollow_user_path(user), method: "POST" ,class: "follow",remote: true%></h5>
								<% else %>
		   							<h5><%= button_to "Follow", follow_user_path(user),  method: "POST", class: "follow" ,remote: true %></h5>
								<% end %>
							</div>
						</div>
					</div>
				<% end %>
			</div>
	</div>
	<% end %>
</div>
