<div style='margin-left:300px'>
	<% @posts.each do |post| %>
		<p>
			<%= post.post %>
			<!-- <p id="notice"><%#= notice %></p> -->
		</p>
		<p>
			<%= link_to 'show', post_path(post) %>
			 <% if current_user == post.user %>
			 <%# byebug %>
				<%= link_to 'edit', edit_post_path(post) %>
				<%= link_to 'destroy',post_path(post), method: :delete %>
			<% end %>
		</p>
		<p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
		<p>
			
	<% end %>
	<%= link_to 'new', new_post_path %>

</div>
